*::selection {
  color: black;
  background-color: gainsboro;
}

.navbar-brand {
  cursor: pointer !important;
}

.nav-item {
  cursor: pointer !important;
}

.nav-item .active {
  cursor: default;
}

.nav-item .text-danger {
  cursor: pointer;
}

.dropdown .nav-link,
.dropdown .active {
  cursor: pointer;
}

.inactive {
  cursor: pointer !important;
}

.dropdown-menu .inactive-dropdown:hover {
  color: #212529;
  background-color: #c8cbcf;
}

.dropdown-menu .active-dropdown,
.dropdown-menu .active-dropdown:hover {
  color: #f8f9fa !important;
  background-color: #343a40;
  cursor: default;
}

.dropdown-menu .text-danger,
.dropdown-menu .text-danger:hover {
  color: #dc3545 !important;
  cursor: default;
}

.h-full {
  height: 100vh !important;
}

.min-h-full {
  min-height: 100vh !important;
}

.max-h-90 {
  max-height: 90vh !important;
}

.h-70 {
  height: 70vh !important;
}

.h-35 {
  height: 35vh !important;
}

.h-70 {
  height: 70vh !important;
}

.h-45 {
  height: 45vh !important;
}

.min-h-24 {
  min-height: 24vh !important;
}

.min-h-20 {
  min-height: 20vh;
}

.w-65 {
  width: 65% !important;
}

.w-49 {
  width: 49% !important;
}

.w-45 {
  width: 45% !important;
}

.w-35 {
  width: 35% !important;
}

.w-285px {
  width: 285px !important;
}

.w-190px {
  width: 190px !important;
}

.min-w-175px {
  min-width: 175px !important;
}

.min-w-170px {
  min-width: 170px !important;
}

.w-155px {
  width: 155px !important;
}

.w-145px {
  width: 145px !important;
}

.min-w-130px {
  min-width: 130px !important;
}

.w-140px {
  width: 140px !important;
}

.w-120px {
  width: 120px !important;
}

.w-110px {
  width: 110px !important;
}

.min-w-95px {
  min-width: 95px !important;
}

.w-100px {
  width: 100px !important;
}

.min-w-100px {
  min-width: 100px !important;
}

.w-30px {
  width: 30px !important;
}

.justify-content-evenly {
  justify-content: space-evenly !important;
}

tbody .table-row:hover {
  color: #212529;
  background-color: #e2e6ea;
}

.form-light {
  background-color: rgb(228, 228, 228);
  border: lightgray 1px solid;
}

.form-light .sub-form.bt-1 {
  border-top: lightgray 1px solid;
}

.bottom-border-light {
  border-bottom: rgb(202, 202, 202) 1px solid;
}

.top-border-dark {
  border-top: 1px solid #454d55 !important;
}

.right-border-dark {
  border-right: 1px solid #454d55 !important;
}

.bottom-border-dark {
  border-bottom: 1px solid #454d55 !important;
}

.left-border-dark {
  border-left: 1px solid #454d55 !important;
}

.custom-card-light {
  background-color: rgb(221, 221, 221);
  border: rgb(202, 202, 202) 1px solid;
}

.bg-dark-45 {
  background-color: rgba(0, 0, 0, 0.45);
}

.bg-dark-20 {
  background-color: rgba(0, 0, 0, 0.1);
}

textarea {
  resize: none !important;
}

.btn.btn-outline-dark-active,
.btn.btn-outline-dark-active:hover {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
  cursor: default !important;
}

.btn.btn-outline-primary-active,
.btn.btn-outline-primary-active:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  cursor: default !important;
}

.form-control:focus,
.btn.pagination-nav,
.btn.pagination-disabled,
.close {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0) !important;
  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0) !important;
  -o-box-shadow: 0 5px 15px rgba(0, 0, 0, 0) !important;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0) !important;
}

.btn.pagination-disabled {
  cursor: default !important;
  opacity: 0.65;
}

.display-5 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1;
}

.form-group {
  padding-left: 3px !important;
  padding-right: 3px !important;
  margin-bottom: 6px !important;
}

.lh-0 {
  line-height: 1rem;
}

.zi-10 {
  z-index: 10 !important;
}

.square-100px {
  width: 100px;
  height: 100px;
}

.carousel .carousel-indicators li {
  width: 7px;
  height: 7px;
  border-radius: 100%;
}

@media (max-width: 576px) {
  .w-sm-100 {
    width: 100% !important;
  }

  .w-sm-auto {
    width: auto !important;
  }
}

@media (min-width: 768px) {
  .border-md-0 {
    border: 0 !important;
  }

  .w-md-75 {
    width: 75% !important;
  }
}
